/*===========
 *FONTS RELACHE
 *==========*/

@font-face {
    font-family: 'noto_sansbold';
    src: url('../fonts/notosans/notosans-bold-webfont.eot');
    src: url('../fonts/notosans/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans/notosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/notosans/notosans-bold-webfont.woff') format('woff'),
         url('../fonts/notosans/notosans-bold-webfont.ttf') format('truetype'),
         url('../fonts/notosans/notosans-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansbold_italic';
    src: url('../fonts/notosans/notosans-bolditalic-webfont.eot');
    src: url('../fonts/notosans/notosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans/notosans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/notosans/notosans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/notosans/notosans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/notosans/notosans-bolditalic-webfont.svg#noto_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansitalic';
    src: url('../fonts/notosans/notosans-italic-webfont.eot');
    src: url('../fonts/notosans/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans/notosans-italic-webfont.woff2') format('woff2'),
         url('../fonts/notosans/notosans-italic-webfont.woff') format('woff'),
         url('../fonts/notosans/notosans-italic-webfont.ttf') format('truetype'),
         url('../fonts/notosans/notosans-italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans/notosans-regular-webfont.eot');
    src: url('../fonts/notosans/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans/notosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/notosans/notosans-regular-webfont.woff') format('woff'),
         url('../fonts/notosans/notosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/notosans/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'triplexitalicbold_oldstyle';
    src: url('../fonts/triplexitalic/triplexitalic-boldosf-webfont.eot');
    src: url('../fonts/triplexitalic/triplexitalic-boldosf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/triplexitalic/triplexitalic-boldosf-webfont.woff2') format('woff2'),
         url('../fonts/triplexitalic/triplexitalic-boldosf-webfont.woff') format('woff'),
         url('../fonts/triplexitalic/triplexitalic-boldosf-webfont.ttf') format('truetype'),
         url('../fonts/triplexitalic/triplexitalic-boldosf-webfont.svg#triplexitalicbold_oldstyle') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'suzee';
    src: url('../fonts/suzee/SuzeeFY-Regular.eot');
    src: url('../fonts/suzee/SuzeeFY-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suzee/SuzeeFY-Regular.woff2') format('woff2'),
         url('../fonts/suzee/SuzeeFY-Regular.woff') format('woff'),
         url('../fonts/suzee/SuzeeFY-Regular.ttf') format('truetype'),
         url('../fonts/suzee/SuzeeFY-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 17, 2015 */



@font-face {
    font-family: 'triplexitalicbold';
    src: url('../fonts/TriplexItalic/triplexitalic-bold-webfont.eot');
    src: url('../fonts/TriplexItalic/triplexitalic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TriplexItalic/triplexitalic-bold-webfont.woff2') format('woff2'),
         url('../fonts/TriplexItalic/triplexitalic-bold-webfont.woff') format('woff'),
         url('../fonts/TriplexItalic/triplexitalic-bold-webfont.ttf') format('truetype'),
         url('../fonts/TriplexItalic/triplexitalic-bold-webfont.svg#triplexitalicbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'triplexitalicbold_oldstyle';
    src: url('../fonts/TriplexItalic/triplexitalic-boldosf-webfont.eot');
    src: url('../fonts/TriplexItalic/triplexitalic-boldosf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TriplexItalic/triplexitalic-boldosf-webfont.woff2') format('woff2'),
         url('../fonts/TriplexItalic/triplexitalic-boldosf-webfont.woff') format('woff'),
         url('../fonts/TriplexItalic/triplexitalic-boldosf-webfont.ttf') format('truetype'),
         url('../fonts/TriplexItalic/triplexitalic-boldosf-webfont.svg#triplexitalicbold_oldstyle') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'triplexitaliclight';
    src: url('../fonts/TriplexItalic/triplexitalic-light-webfont.eot');
    src: url('../fonts/TriplexItalic/triplexitalic-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TriplexItalic/triplexitalic-light-webfont.woff2') format('woff2'),
         url('../fonts/TriplexItalic/triplexitalic-light-webfont.woff') format('woff'),
         url('../fonts/TriplexItalic/triplexitalic-light-webfont.ttf') format('truetype'),
         url('../fonts/TriplexItalic/triplexitalic-light-webfont.svg#triplexitaliclight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'triplexitaliclight_oldstyle';
    src: url('../fonts/TriplexItalic/triplexitalic-lightosf-webfont.eot');
    src: url('../fonts/TriplexItalic/triplexitalic-lightosf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TriplexItalic/triplexitalic-lightosf-webfont.woff2') format('woff2'),
         url('../fonts/TriplexItalic/triplexitalic-lightosf-webfont.woff') format('woff'),
         url('../fonts/TriplexItalic/triplexitalic-lightosf-webfont.ttf') format('truetype'),
         url('../fonts/TriplexItalic/triplexitalic-lightosf-webfont.svg#triplexitaliclight_oldstyle') format('svg');
    font-weight: normal;
    font-style: normal;

}
