/*------------------------------------*\
    #LAYOUT-CONTACT
\*------------------------------------*/

#Container {

	h1 {
		margin-top: 35px;
	}

	#Partenaires{
		vertical-align: top;
		
		img {width: 100%;}
	}

	#Contact {
		font-size: 0.8rem;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

