/*------------------------------------*\
    #LAYOUT-GALERIE
\*------------------------------------*/

.galerie {

	label {
		margin-right: 15px;
	}

	h1 {
		margin-top: 35px;
	}

	aside {margin-top: 0;}

}