




/*==================*
 *   BACKGROUND     *
 *==================*/

$color__background-body: #fcfcfc;

$color__background-btn: #fcfcfc;
$color__background-btn-hover: #ff3333;

$color__background-menu: #fcfcfc;

$color__background-concert: #fdebeb;
$color__background-dancing: #ebf6fb;
$color__background-sieste: #ffffcc;





/*==================*
 *       TEXT       *
 *==================*/

$color__text-main: #030303;
$color__text-menu: #030303;

$color__link: #030303;
$color__link-hover: #ff3333;
$color__label: #ff3333;

$color__btn: #ff3333;
$color__btn-hover: #fcfcfc;

$color__text-sieste: #ffcc33;
$color__text-sieste-hover: #8F6A00;
$color__text-dancing: #0288D1;
$color__text-concert: #f33;
$color__text-concert-hover: #c01818;






/*==================*
 *      BORDER      *
 *==================*/

$color__border-btn: #ff3333;
$color__border-sieste: #ffcc33;
$color__border-dancing: #0288D1;
$color__border-input: #030303;






// Styles from _'s
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__border-btn-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-abbr: #666;
$color__border-label: #ff3333;
$color__border_radiochecked: #cc3333;
$color__text-screen: #030303;
$color__text-input: #666;
$color__text-input-focus: #111;
//$color__link: royalblue;
//$color__link-visited: purple;



