




/*====================*
 *     FONT-SIZE      *
 *====================*/


$font-size__h1: 1.4rem;
$font-size__h2: 1.2rem;
$font-size__h3: 1rem;
$font-size__main-text: 1rem;
$font-size__menu-item: 1rem;
$font-size__label: 1rem;
$font-size__caption: 0.8rem;
$font-size__placeholder: 0.8rem;
$font-size__head-info: 0.9rem;





/*====================*
 *    FONT-FAMILY     *
 *====================*/

$font-family__main: 'Noto Sans';
$font-family__h2: 'noto_sansbold_italic';
$font-family__h1: 'triplexitalicbold';
$font-family__menu-item: 'noto_sansbold';



